@charset "UTF-8";
form#insert-form,
.insert-by-file-wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: bloxk;
	width: 100%;
}
.insert-by-file-wrap{
	margin: 20px auto;
}

.insert-by-file-wrap #file-input{
	display: none;
}
form#by-file-form{
	width: 100%;
}
.insert-by-file-wrap{
	width: 40% !important;
	min-width: 607.67px;
}
.insert-by-file-wrap .file-label{
	padding: 10px 20px;
	color: white;
	background-color:rgb(255, 0, 0);
	border-radius: 5px;
	display: block;
	width: 182.3px;
	text-align: center;
	cursor: pointer;
	margin: 20px 0;
}
form#insert-form #insert-input-btn{
	display: block;
	outline: none;
	border: none;
	width: 40%;
	padding: 10px 20px;
	color: white;
	background-color: rgb(255, 0, 0);
	border-radius: 5px;
	cursor: pointer;
	margin: 0px auto;
}
#users-value{
	display: none !important;
}
#excel-data{
	width: 100%;
}
#excel-data .users-ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}
#excel-data .users-ul li{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	background-color: #eee;
}
#excel-data .users-ul li:nth-child(even){
	background-color: lightgray;
}
#excel-data .users-ul li.user-title-li{
	font-weight: 600;
}
#excel-data .users-ul li span{
	flex: 1;
	min-width: calc(100% / 8);
	text-align: center;
	padding: 10px 20px;
}
#excel-data .users-ul li span img{
	width: 50px;
	height: 50px;
}

#excel-data .users-ul li span.null{
	color: grey;
	min-width: 100%;
}


#file-insert-btn{
	outline: none;
	border: none;
	display: block;
	background-color: rgb(255, 0, 0);
	color: white;
	margin: 20px auto;
	margin-left: calc(100% - 100px);
	padding: 10px 20px; 
	width: 100px;
	cursor: pointer;
	border-radius: 5px;
}
#excel-data.show-excel-table {
	width: 80%;
	margin: 20px auto;
	transition: all .5s;
}
#img-input,
#students-value{
	display: none;
}
#img-input-label{
	padding: 10px 20px;
	background-color: rgb(255, 0, 0);
	border-radius: 5px;
	color: white;
	margin-right: 10px;
}




